<footer class="page-footer red accent-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Blog</h5>
        <p class="grey-text text-lighten-4">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Posts</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
  </div>
</footer>
